
# Build output directories
**/target
**/build
**/generated

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin
